# [dbo].[GALERIA]

In [0]:
/****** Object:  Table [dbo].[GALERIA]    Script Date: 27/03/2023 10:29:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GALERIA](
	[id_imagen] [int] NOT NULL,
	[id_usuario] [int] NOT NULL,
	[titulo_obra] [varchar](255) NULL,
	[ruta] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_imagen] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[users]

In [0]:
/****** Object:  Table [dbo].[users]    Script Date: 27/03/2023 10:29:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[idUsuario] [int] NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[salt] [nvarchar](50) NOT NULL,
	[pass] [varbinary](100) NOT NULL,
	[pais] [varchar](50) NULL,
	[artista_fav] [varchar](50) NULL
) ON [PRIMARY]
GO

# [dbo].[SP_GUARDAR_INFO]

In [0]:
/****** Object:  StoredProcedure [dbo].[SP_GUARDAR_INFO]    Script Date: 27/03/2023 10:29:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_GUARDAR_INFO]
        (@IDUSUARIO INT, @NOMBRE NVARCHAR(50),@EMAIL NVARCHAR(50),@PAIS VARCHAR(50), @ARTISTA_FAV VARCHAR(50))
        AS

        UPDATE users SET nombre=@NOMBRE, email=@EMAIL, PAIS=@PAIS, artista_fav=@ARTISTA_FAV
        WHERE idUsuario =@IDUSUARIO

GO

# [dbo].[sp_subirImagen]

In [0]:
/****** Object:  StoredProcedure [dbo].[sp_subirImagen]    Script Date: 27/03/2023 10:29:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_subirImagen]
        (@idUsuario int , @titulo Nvarchar(50), @imagen nvarchar(100))
    as
    declare @idImagen int
    select @idImagen= ISNULL(Max (id_imagen),0)+1 FROM GALERIA
    insert into GALERIA values(@idImagen, @idUsuario, @titulo, @imagen)

GO